<%= form_with(model: bookmark, local: false) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :title %></strong>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <strong><%= form.label :url %></strong>
    <br>
    <%= form.text_field :url %>
  </div>


 <div class="field">
    <strong><%= form.label :category_id %></strong>
    <br>
    <%= form.select :category_id, Category.pluck(:name, :id)%> 
  </div> 

  <div class="field">
    <strong><%= form.label :kind_id %></strong>
    <br>
    <%= form.select :kind_id, Kind.pluck(:name, :id)%>
  </div>

<br>
  <div class="actions">
    <%= form.submit data: {confirm: 'Are you sure to create this bookmark?' } %>
  </div>
<% end %>
<br>
